body {
   
}
.seats {
    margin-top:0;
}
.title {
    margin-top:80px;
    margin-left:200px;
    margin-bottom:0px;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .messagePanel {
       /* margin-top: 50px;
        margin-left: 55px;
        width: 490px;
        height: 530px;*/
       
       right:4px;
  margin-left: 25%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 550px;
  height:  inherit;
  
  border-radius: 3px;
    }
.date {
    margin-left:180px;
    margin-bottom:30px;
     color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    .seat {
        width: 30px;
        height: 30px;
        margin: 5px;
        border: dotted 1px gray;
        float: left;
        border-radius: 8px;
        color:black;
       
    }

    .hall {
        background-color: gainsboro;
        width: auto;
    }

    .clearfix {
        clear: both;
    }

    .available {
        background-color: cornflowerblue;
    }

    .hovering {
        background-color: darkgray;
    }

    .selected {
        background-color: gray;
    }
       .booked {
        background-color: palevioletred;
        
    }
.seatspan {

    position:absolute;
    height:100px;
}
    .scrn {
         margin: auto;
margin-top:100px;
margin-bottom:50px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 850px;
  margin-left: 12%;
    position: relative;
    color:black;
    }
.placeholder {
      width: 30px;
        height: 30px;
        margin: 5px;
      
        float: left;
        border-radius: 8px;
        color:transparent;

}
.cart {
    margin-left: 45%;
        width: 300px;
    background-color: #53cec5;
}